:root {
  --main-color: #b28756;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  overflow-x: hidden;
  /* 300, 400, 600 e 700*/
}

div, p, h1, h2 {
  overflow: hidden;
}

/* HEADER MENU NAVBAR */

.container-menu {
  max-width: 1140px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-menu .menu-icon {
  display: none;
}

header {
  width: 100vw;
  height: 100px;
  background-color: #000;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

ul li {
  list-style: none;
}

.menu li a {
  font-weight: 600;
  font-size: 14px;

  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  display: flex;
  align-items: center;
  margin: auto;
  height: 100px;

  padding-left: 5px;
  padding-right: 5px;

  border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a{
  border-bottom: 4px solid var(--main-color);
  color: #d5d5d5;
}

/* MAIN CONTENT - BANNER */

.banner {
  width: 100vw;
  height: calc(100vh - 100px);

  background-color: #000;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: bottom;

  overflow: hidden;
}

.banner .sliders {
  width: 300vw;
  height: 100vh;
}

.banner .slide {
  width: 100vw;
  height: 100vh;

  display: inline-block;

  background-color: rgba(0, 0, 0, 0.8);
}

.slide-area {
  height: 86%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.slide-area h1 {
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 70px;

  margin-bottom: 15px;
}

.destaque {
  color: var(--main-color);
}

.slide-area h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}

button {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;

  cursor: pointer;

  background-color: var(--main-color);
  padding: 15px 50px;

  border: none;
  border-radius: 25px;
  
  transition: 500ms linear;
}

button:hover {
  background-color: #c38f5b;
  transition: 500ms linear;
}

.slide-area button a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.paginationdots {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.paginationdots div {
  height: 13px;
  width: 13px;

  border-radius: 30px;
  border: 2px solid var(--main-color);
}

.paginationdots .activedot {
  background-color: var(--main-color);
}

/* SECTION ABOUT US */

.container {
  width: 1140px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;

  z-index: 1;
}

.default.light{
  background-color: #f7f7f7;

  z-index: 1;
}

.default.light .section-title, .default.light .section-body{
  color: #000;
}
.default.dark{
  background-color: #000;

  z-index: 1;
}

.default.dark .section-title, .default.dark .section-body{
  color: #fff;
}

.section-title , .section-desc{
  text-transform: uppercase;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
}

.section-desc {
  font-size: 14px;
  font-weight: 600;
  color: #8c8c8c;

  margin-top: 10px;
  margin-bottom: 40px;
}

.section-aboutus {
  display: flex;
}

.section-aboutus .content {
  flex: 1;
}

.section-aboutus .video {
  width: 450px;
  aspect-ratio: 16/9;
  background-image: url(../media/complementos/foto9.jpg);
  background-position: center;
  background-size: cover;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.video .videotxt{
  width: 100%;
  height: 100%;
  background-color: #00000080;

  display: flex;
  justify-content: center;
  align-items: center;

}

.videotxt img {
  width: 140px;
  height: 140px;

  cursor: pointer;
}

.videotxt span{
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 34px;
}

.content p {
  font-size: 14px;
  font-weight: 400;

  margin-bottom: 40px;
  margin-right: 40px;
}

/* SECTION SERVICES */

.section-services {
  display: flex;
}

.iconbox:first-child {
  border-left: 2px solid #b2875650;
}
.iconbox {
  display: flex;
  flex-direction: column;
  align-items: center; 

  padding: 0 30px;

  border-right: 2px solid #b2875650;
}

.iconbox p {
  font-size: 12px;
  text-align: center;
  color: #8c8c8c;
}

.iconbox h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.iconbox img {
  margin-bottom: 30px;
}

/* SECTION PROJECTS */

.section-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-categories {
  background-color: #ededed;
  padding: 0px 20px;

  border: 1px solid rgba(0, 0, 0, 0.276);
  border-radius: 20px;

  margin-bottom: 30px;
}

.filter-categories ul {
  gap: 0;
}

.filter-categories li{
  display: inline-block;
  padding: 10px 20px;
  height: 40px;
  
  border-left: 1px solid rgba(0, 0, 0, 0.276);
  cursor: pointer;

  overflow: hidden;
}

.filter-categories li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;

  border-bottom: 3px solid #ededed;
}

.filter-categories li:first-child {
  border-left: 0;
}

.filter-categories li:hover, 
.filter-categories .active {
  border-bottom: 3px solid var(--main-color);
}

.photos {
  width: 100vw;
  max-width: 1140px;

  display: flex;
  flex-wrap: wrap;

  gap: 30px;
  justify-content: center;

  margin-bottom: 30px;
}

.photo:hover .show {
  display: flex;
}

.photo {
  width: 360px;
}

.photo img {
  width: 360px;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.show {
  width: inherit;
  height: inherit;
  aspect-ratio: 4/3;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  position: absolute;
  
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.show h5 {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.show p {
  font-size: 16px;
  text-align: center;
}
/* SECTION TEAM */
.default.dark.team {
  background-color: #000000cf;
  background-image: url(../media/complementos/foto5.jpg);

  background-blend-mode: multiply;

  background-size: cover;
}

.colabs {
  max-width: 100vw;
  width: 1140px;
  display: flex;
  justify-content: space-between;
}

.colab-card {
  background-color: #fff;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 420px;
}

.avatar {
  display: flex;
  justify-content: center;

  margin-bottom: 20px
}
.avatar img {
  height: 200px;
  width: auto;

  filter: grayscale(100%);
  transition: 200ms linear;
}

.colab-card:hover .avatar img{
  filter: grayscale(30%);
  transition: 200ms linear;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #000;
}

.info h5 {
  font-size: 22px;
  font-weight: 600;
}

.info p {
  text-transform: capitalize;

  margin-top: 5px;
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

.ico {
  height: 30px;
  width: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #a5a5a5;
  padding: 5px;
  border-radius: 20px;

  transition: 200ms linear;
}

.ico:hover{
  background-color: var(--main-color);

  transition: 200ms linear;
}

.ico img {
  height: 12px;
  width: auto;
}

.paginationdots.mobile-only{
  display: none;
}

/* SECTION TESTIMONIAL */
.testimonial-carousel {
  margin: 20px 0;

  width: 1140px;
}

.testimonial{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.testimonial h5 {
  margin-top: 20px;

  font-size: 24px;
  font-weight: 800;
}

.testimonial h6 {
  font-size: 16px;

  margin-bottom: 30px;
}

.testimonial p {
  width: 70%;

  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 14px;

  margin: 15px 0 40px 0;
}

/* SECTION BRANDS */
.brands{
  position: relative;

  width: 100vw;
  padding: 50px 0;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  z-index: 99;
}

.company-brands{
  width: 100%;
  max-width: 1140px;
  margin: auto;


  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 80px;
  width: auto;
}

/* SECTION PRICES */

.boxes {
  display: flex;

  gap: 30px;
}

.box {
  padding: 30px 40px;
  background-color: #fff; 
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box h6 {
  text-transform: uppercase;
  font-size: 16px;

  margin-bottom: 10px;
}

.box h5 {
  font-size: 32px;

  margin-bottom: 5px;
}

.box p {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: rgba(0, 0, 0, 0.6);

  margin-bottom: 15px;
}

.box span {
  font-size: 14px;
  font-weight: 600;

  color: rgba(0, 0, 0, 0.5);

  text-align: center;

}

.box button {
  margin-top: 20px;

  background-color: #373737;
}

.box button:hover, .box .choosen{
  background-color: var(--main-color);
}

.divisor {
  width: 10px;
  height: 2px;

  background-color:rgba(0, 0, 0, 0.4);

  margin: 5px 0;
}

/* FEATURES */
.features {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1140px;
}

.features button {
  margin: auto;
  margin-top: 30px;
  width: 30%;
}

.feature-content {
  display: flex;
  justify-content: flex-start;
  gap: 100px;

  margin-bottom: 50px;
  padding-bottom: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.feature-content .right img {
  height: 400px;
  width: auto;
}

.feature-content .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-content .left div ul {
  display: flex;
  flex-direction: column;
  gap: 5px;

  margin-bottom: 20px;
}

.feature-content .left div ul li {
  font-size: 14px;
  text-transform: uppercase;
}

.feature-content .left div p {
  margin-bottom: 15px;

  font-size: 16px;
}

.feature-content .left div ul li, .feature-content .left div p {
  margin-left: 55px;

  color: rgba(0, 0, 0, 0.6);
}

.img-title {
  display: flex;
  gap: 20px;

  margin-bottom: 5px;
}

.img-title img {
  width: auto;
  height: 30px;
}

.img-title h5 {
  text-transform: uppercase;
  font-size: 22px;
}

/* NUMBERS */

.numbers {
  display: flex;
}

.item {
  display: grid;

  padding: 30px 50px;
}

.item div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.item h3 {
  color: var(--main-color);
  font-size: 44px;
}

.item h4 {
  text-transform: uppercase;
  text-align: center;

  margin: 10px 0 15px 0;
}

.item p {
  font-size: 13px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  
  justify-self: flex-end;
}

.line {
  width: 30px;
  height: 3px;
  background-color: #8c8c8c;

  margin-top: 5px;
}

/* CONTACT FORM */
.contact-form {
  width:  60%;
}

.contact-form label {
  display: flex;
  gap: 30px;
}

.contact-form form input[type=submit] {
  background-color: var(--main-color);
}


.contact-form form input,
.contact-form form label input {
  width: 100%;

  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding: 10px 0;

  margin-bottom: 20px;

  caret-color: rgba(63, 63, 63, 0.8);
}

.contact-form form input::placeholder {
  text-align: start;
  text-transform: uppercase;
  font-weight: 500;
}

/* SECTION MAP */

.infoico {
  display: flex;
}

.mapbg{
  background-image: url(../images/icones/mapa.jpg);
  background-color: #3a3a3a4e;
  background-blend-mode: multiply;
}

.map {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.social.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: #fff;
  padding: 50px;
}

.infoico {
  display: flex;
  gap: 20px;
}

.infoico p{
  font-size: 14px;
  font-weight: 500;
  color: #00000090;

  text-transform: none;
}

/* ARROW UP */

.subir{
  background-color: var(--main-color);
  border-radius: 150px;
  
  width: 50px;
  height: 50px;
  padding: 10px;

  position: absolute;

  margin-left: 10%;
  transform: translateY(-20px);

  z-index: 99;

  overflow: hidden;
}

.subir img {
  width: 30px;
  height: 30px;
}

/* FOOTER */

.colunas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}

.coluna1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.coluna1 .logo{
  height: 80px;
  width: auto;
}

.coluna1 h5 {
  font-size: 11px;
}

.coluna1 .social .ico {
  background-color: rgba(255, 255, 255, 0.25);
}

.coluna1 .social .ico:hover {
  background-color: var(--main-color);
}

.coluna2 p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

.coluna3 {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px;

  background-color: #373737;
}

.coluna3 form {
  display: flex;
  flex-direction: column;

  width: 100%;
}

input {
  width: 100%;

  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  background-color: transparent;
  padding: 10px 0;

  caret-color: rgba(255, 255, 255, 0.8);
}

input::placeholder {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

input:active {
  box-shadow: 0 0 0 0;
  outline: 0;
}
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

input[type=submit] {
  margin-top: 30px;

  border: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  
  cursor: pointer;
  
  background-color: var(--main-color);
  padding: 15px 50px;
  
  border: none;
  border-radius: 25px;
  
  transition: 500ms linear;
}

input[type=submit]:hover {
  background-color: #c38f5b;
  transition: 500ms linear;
}

/* TABLET */

@media (min-width: 450px) and (max-width:1024px) {
  .container-menu {
    max-width: 900px;
  }

    .container-menu img {
      height: 60px;
      width: auto;
    }

    .container-menu .menu-icon {
      display: block;

      height: 40px;
      width: auto;
    }

  .menu {
    display: none;

    position: absolute;
    z-index: 99;

    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.8);

    width: 70vw;
    right: 0;
    top: 100px;
    height: calc(100vh - 100px)
  }

  .menu ul {
    flex-direction: column;
  }

  .menu ul li a, .menu ul li a:hover, .menu .active a{
    font-size: 28px;
    height: 120px;
    border: 0;
  }

    .menu ul li:hover a {
      color: var(--main-color);
    }
  .container {  
    width: 900px;
  }

  .colabs{
    width: 900px;

    justify-content: center;
  }

  .colab-card {
    width: 80%;

  }

  .colab-card.hidden {
    display: none;

  }

  .paginationdots.mobile-only {
    margin-top: 30px;

    display: flex;
  }

  .company-brands {
    width: 900px;
  }

  .subir {
    margin-left: 2%;
  }
}

/* MOBILE */

@media (max-width:450px) {
  .container-menu {
    max-width: 380px;
  }

  .container-menu img {
    height: 30px;
    width: auto;
  }

  .container-menu .menu-icon {
    display: block;

    height: 20px;
    width: auto;
  }

  .menu {
    display: none;

    position: absolute;
    z-index: 99;

    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.8);

    width: 70vw;
    right: 0;
    top: 100px;
    height: calc(100vh - 100px)
  }

  .menu ul {
    flex-direction: column;
  }

  .menu ul li a,
  .menu ul li a:hover,
  .menu .active a {
    font-size: 20px;
    height: 60px;
    border: 0;
  }

  .menu ul li:hover a {
    color: var(--main-color);
  }

  .container {
    width: 380px;
  }

  .slide-area h1 {
    font-size: 42px;
    line-height: 44px;
  }

  .slide-area h2 {
    font-size: 18px;
  }

  .section-aboutus {
    flex-direction: column;

    align-items: center;
    justify-content: center;
  }
  .section-aboutus .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-aboutus .content p {
    margin: 0;

    text-align: center;
  }

  .section-aboutus .content button {
    margin: 25px 0 40px 0;
  }

  .section-services {
    flex-direction: column;
    gap: 15px;
  }

  .iconbox:first-child {
      border-left: 0;
  }

  .iconbox {
    border: 0;

    padding-bottom: 30px;
    margin-bottom: 30px;
  }


  .colabs {
    width: 380px;

    justify-content: center;
  }

  .colab-card {
    width: 80%;

  }

  .colab-card.hidden {
    display: none;
  }

  .paginationdots.mobile-only {
    margin-top: 30px;

    display: flex;
  }

  .company-brands {
    width: 380px;
    height: 100%;

    justify-content: space-around;
  }

  .brand-logo.hide {
    display: none;
  }

    .brand-logo img {
      height: 80px;
      width: auto;
    }
  .boxes{
    flex-direction: column;
  }
  .feature-content {
    flex-direction: column;
  }
  .features button {
    width: 80%;
  }

  .numbers {
    display: flex;
    flex-direction: column;
  }

  .subir {
    margin-left: 2%;
  }

  .map {
    display: flex;
    flex-direction: column;
  }
  .contact-form {
    width: 100%;
  }

    .map .empty {
      height: 150px;
    }

  .colunas {
    display: flex;

    flex-direction: column;

    gap: 60px;
  }

    .coluna1, .coluna2, .coluna3 {
      height: 200px;

      align-items: center;
    }
}