:root {
  --main-color: #b28756;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /* 300, 400, 600 e 700*/
}

.container-menu {
  max-width: 1140px;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER MENU NAVBAR */

header {
  height: 100px;
  background-color: #000;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

ul li {
  list-style: none;
}

.menu li a {
  font-weight: 600;
  font-size: 14px;

  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  display: flex;
  align-items: center;
  margin: auto;
  height: 100px;

  padding-left: 5px;
  padding-right: 5px;

  border-bottom: 5px solid #000;
}

.menu li a:hover,
.menu .active a{
  border-bottom: 4px solid var(--main-color);
  color: #d5d5d5;
}

/* MAIN CONTENT - BANNER */

.banner {
  height: calc(100vh - 100px);

  background-color: #000;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: bottom;

  overflow: hidden;
}

.banner .sliders {
  width: 300vw;
  height: 100vh;
}

.banner .slide {
  width: 100vw;
  height: 100vh;

  display: inline-block;

  background-color: rgba(0, 0, 0, 0.8);
}

.slide-area {
  height: 86%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
}

.slide-area h1 {
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
  line-height: 70px;

  margin-bottom: 15px;
}

.destaque {
  color: var(--main-color);
}

.slide-area h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}

button {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;

  cursor: pointer;

  background-color: var(--main-color);
  padding: 15px 50px;

  border: none;
  border-radius: 25px;
  
  transition: 500ms linear;
}

button:hover {
  background-color: #c38f5b;
  transition: 500ms linear;
}

.slide-area button a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.paginationdots {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.paginationdots div {
  height: 13px;
  width: 13px;

  border-radius: 30px;
  border: 2px solid var(--main-color);
}

.paginationdots .activedot {
  background-color: var(--main-color);
}

/* SECTION ABOUT US */

.container {
  max-width: 1140px;
  width: 1140px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.default {
  margin: auto;
  padding: 50px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.default.light{
  background-color: #f7f7f7;
}

.default.light .section-title, .default.light .section-body{
  color: #000;
}
.default.dark{
  background-color: #000;
}

.default.dark .section-title, .default.dark .section-body{
  color: #fff;
}

.section-title , .section-desc{
  text-transform: uppercase;
}

.section-title {
  font-weight: 700;
  font-size: 28px;
}

.section-desc {
  font-size: 14px;
  font-weight: 600;
  color: #8c8c8c;

  margin-top: 10px;
  margin-bottom: 40px;
}

.section-aboutus {
  display: flex;
}

.section-aboutus .content {
  flex: 1;
}

.section-aboutus .video {
  width: 450px;
  aspect-ratio: 16/9;
  background-image: url(../media/complementos/foto9.jpg);
  background-position: center;
  background-size: cover;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.video .videotxt{
  width: 100%;
  height: 100%;
  background-color: #00000080;

  display: flex;
  justify-content: center;
  align-items: center;

}

.videotxt img {
  width: 140px;
  height: 140px;

  cursor: pointer;
}

.videotxt span{
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  font-size: 34px;
}

.content p {
  font-size: 14px;
  font-weight: 400;

  margin-bottom: 40px;
  margin-right: 40px;
}

/* SECTION SERVICES */

.section-services {
  display: flex;
}

.iconbox:first-child {
  border-left: 2px solid #b2875650;
}
.iconbox {
  display: flex;
  flex-direction: column;
  align-items: center; 

  padding: 0 30px;

  border-right: 2px solid #b2875650;
}

.iconbox p {
  font-size: 12px;
  text-align: center;
  color: #8c8c8c;
}

.iconbox h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.iconbox img {
  margin-bottom: 30px;
}

/* SECTION PROJECTS */

.section-projects{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-categories {
  background-color: #ededed;
  padding: 0px 20px;

  border: 1px solid rgba(0, 0, 0, 0.276);
  border-radius: 20px;

  margin-bottom: 30px;
}

.filter-categories ul {
  gap: 0;
}

.filter-categories li{
  display: inline-block;
  padding: 10px 20px;
  height: 40px;
  
  border-left: 1px solid rgba(0, 0, 0, 0.276);
  cursor: pointer;
}

.filter-categories li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 400;

  border-bottom: 3px solid #ededed;
}

.filter-categories li:first-child {
  border-left: 0;
}

.filter-categories li:hover, 
.filter-categories .active {
  border-bottom: 3px solid var(--main-color);
}

.photos {
  width: 100vw;
  max-width: 1140px;

  display: flex;
  flex-wrap: wrap;

  gap: 30px;
  justify-content: center;

  margin-bottom: 30px;
}

.photo:hover .show {
  display: flex;
}

.photo {
  width: 360px;
}

.photo img {
  width: 360px;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.show {
  width: inherit;
  height: inherit;
  aspect-ratio: 4/3;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  position: absolute;
  
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.show h5 {
  font-size: 24px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.show p {
  font-size: 16px;
  text-align: center;
}